.score-main {
  background-color: #d8d8d8;
}

.score .round {
  text-align: center;
  font-size: 18px;
  color: #333333;
  line-height: 48px;
  border-bottom: 1px solid #d8d8d8;
  font-weight: bold;
}

.score .group > div:first-of-type {
  padding-top: 16px;
  padding-left :16px;
}

.score .name {
  font-size: 14px;
  color: #333333;
  border: 1px solid #D8D8D8;
  width: 60px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 4px;
}

.score .vs {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  /*line-height: 32px;*/
}

.score .score {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  text-align: center;
}

.score .round-part {
  margin-bottom: 12px;
  background-color: #fff;
  padding-bottom: 24px;
}

.score .win-logo {
  width: 60px;
  height: 20px;
}

.score .win-logo img {
  width: 100%;
}

.score .team:last-of-type {
  padding: 0;
}
